body {
    font-family: 'Noto Sans', sans-serif;
    color: #efefef;
    background-color: #1f1f1f;
    font-size: 1.1em;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

p {
    margin: 6px 0;
    text-decoration: none;
    font-size: 1.5em;
    max-width: 960px;
}
